* {
    margin: 0;
    padding: 0;
}

.cabecera {
    background-color: rgb(232, 225, 165);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

.cabecera__titulo {
    color: rgb(67, 68, 69);
}

.cabecera__navegacion {
    display: flex;
    gap: 25px;
    margin-right: 10px;
}

.navegacion__enlace {
    color: rgb(67, 68, 69);
    text-decoration: none;
    font-size: large;
    font-weight: 400;
    width: 95px;
    text-align: center;
    padding: 10px 0;
    border-radius: 25px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.seleccionado, .navegacion__enlace:hover {
    color: whitesmoke;
    background-color: #b4af80;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.tarjeta {
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    background-color: #f0f0f0;
    padding: 10px;
    margin: 10px;
    width: calc(50% - 20px); /* Ancho del 50% menos márgenes */
    transition: transform 0.3s ease;
}

.tarjeta:hover {
    transform: scale(1.05);
}

.pie {
    margin-top: 15px;
}

.pie h4 {
    text-decoration: underline;
}